$size_options: (xxs: xxsmall, xs: xsmall, s: small, m: medium, l: large, xl: xlarge, xxl: xxlarge);
$size_keywords: (t: thin, m: medium, k: thick);

$side_options: (t: top, b: bottom, l: left, r: right);
$side_options_logical: (k: block, i: inline);

$align_options: (s: start, c: center, e: end);
$align_options_plus: (sa: space-around, se: space-evenly, sb: space-between);
